Lab8. URL-Request/httpTry.json
[{"id":"74c11ae2.5e2724","type":"inject","z":"52d0a81f.f91ad8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":200,"wires":[["3f98125c.6165fe"]]},{"id":"3f98125c.6165fe","type":"http request","z":"52d0a81f.f91ad8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://httpbin.org/get","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":220,"wires":[["9e530632.294aa8","2c345e07.bfa832"]]},{"id":"9e530632.294aa8","type":"json","z":"52d0a81f.f91ad8","name":"","property":"payload","action":"","pretty":false,"x":730,"y":300,"wires":[["a9a8a11d.fcb24"]]},{"id":"a9a8a11d.fcb24","type":"debug","z":"52d0a81f.f91ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":240,"wires":[]},{"id":"2c345e07.bfa832","type":"debug","z":"52d0a81f.f91ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":140,"wires":[]}]