Lab8. URL-Request/webApi.json
[{"id":"a28887c0.a59708","type":"inject","z":"3ff73a79.eff346","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":220,"wires":[["f6d852d7.586ba"]]},{"id":"f6d852d7.586ba","type":"http request","z":"3ff73a79.eff346","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://fchart.github.io/books.json","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":240,"wires":[["bb335bdf.0c1658"]]},{"id":"bb335bdf.0c1658","type":"json","z":"3ff73a79.eff346","name":"","property":"payload","action":"","pretty":false,"x":720,"y":320,"wires":[["d1b53538.ea8098"]]},{"id":"d1b53538.ea8098","type":"debug","z":"3ff73a79.eff346","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":260,"wires":[]}]