Lab10. Earth Quake/EarthQuake.json
[{"id":"cf57d175.6c6b8","type":"inject","z":"1014cc7d.49e394","name":"Earth Quake","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":240,"wires":[["7744cf12.bb71f"]]},{"id":"7744cf12.bb71f","type":"http request","z":"1014cc7d.49e394","name":"Earth Quake","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":240,"wires":[["c8632939.349298"]]},{"id":"c8632939.349298","type":"csv","z":"1014cc7d.49e394","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":620,"y":280,"wires":[["f3030230.80cdd","c1977750.072ef8"]]},{"id":"f3030230.80cdd","type":"debug","z":"1014cc7d.49e394","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":280,"wires":[]},{"id":"c1977750.072ef8","type":"switch","z":"1014cc7d.49e394","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":400,"wires":[["7dbd3253.36d6cc"]]},{"id":"7dbd3253.36d6cc","type":"change","z":"1014cc7d.49e394","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":420,"wires":[["6fb8d1a7.b5dc9"]]},{"id":"6fb8d1a7.b5dc9","type":"debug","z":"1014cc7d.49e394","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":420,"wires":[]}]