json/classA.json
[
    {
        "id": "8a8510333354a129",
        "type": "inject",
        "z": "c6c62ec912e4ecd5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "9136173d5ff2f112"
            ]
        ]
    },
    {
        "id": "9136173d5ff2f112",
        "type": "function",
        "z": "c6c62ec912e4ecd5",
        "name": "random number",
        "func": "var max=100;\nmsg.payload=Math.floor(Math.random() * max+1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "4c97920726922416",
                "97289287aa778634",
                "b90920e563b6c887"
            ]
        ]
    },
    {
        "id": "4c97920726922416",
        "type": "debug",
        "z": "c6c62ec912e4ecd5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "97289287aa778634",
        "type": "ui_chart",
        "z": "c6c62ec912e4ecd5",
        "name": "random",
        "group": "9be011fafa000840",
        "order": 1,
        "width": "6",
        "height": "1",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b90920e563b6c887",
        "type": "ui_gauge",
        "z": "c6c62ec912e4ecd5",
        "name": "Random Number",
        "group": "9be011fafa000840",
        "order": 2,
        "width": "6",
        "height": "1",
        "gtype": "gage",
        "title": "Random Number",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "4ba4c906630d590f",
        "type": "ui_button",
        "z": "c6c62ec912e4ecd5",
        "name": "ON",
        "group": "9be011fafa000840",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "b1a7a47e299901de",
                "6e9dceb64a46219c"
            ]
        ]
    },
    {
        "id": "b1a7a47e299901de",
        "type": "debug",
        "z": "c6c62ec912e4ecd5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "7b30da83047c24e7",
        "type": "ui_button",
        "z": "c6c62ec912e4ecd5",
        "name": "OFF",
        "group": "9be011fafa000840",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "b1a7a47e299901de",
                "6e9dceb64a46219c"
            ]
        ]
    },
    {
        "id": "6e9dceb64a46219c",
        "type": "ui_text",
        "z": "c6c62ec912e4ecd5",
        "group": "9be011fafa000840",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "onoff",
        "label": "ON OFF",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "fdc67789bff82266",
        "type": "ui_slider",
        "z": "c6c62ec912e4ecd5",
        "name": "Slider",
        "label": "slider",
        "tooltip": "",
        "group": "3de98663.f9436a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "edf298a1422d029d"
            ]
        ]
    },
    {
        "id": "edf298a1422d029d",
        "type": "ui_gauge",
        "z": "c6c62ec912e4ecd5",
        "name": "Slider value",
        "group": "3de98663.f9436a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Slider Value",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "92937da815582768",
        "type": "ui_switch",
        "z": "c6c62ec912e4ecd5",
        "name": "Switch",
        "label": "switch",
        "tooltip": "",
        "group": "9be011fafa000840",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "6e9dceb64a46219c",
                "b1a7a47e299901de"
            ]
        ]
    },
    {
        "id": "9be011fafa000840",
        "type": "ui_group",
        "name": "Default",
        "tab": "65afd43f9f4a214f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3de98663.f9436a",
        "type": "ui_group",
        "name": "Default",
        "tab": "8833cf5ecccc9516",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65afd43f9f4a214f",
        "type": "ui_tab",
        "name": "Tab2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8833cf5ecccc9516",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 3
    }
]